body{background:green; 
margin:0;
padding:0;}
.shapka h1{
	float:left;
	margin:20px;
	text-shadow:1px 1px 4px gold;
	color:red;
}
.shapka img{
	float:right;
	margin:20px;
}
.shapka{
	height:240px;
	border-bottom:1px red solid;
	background:url(../img/koga16.jpg);
}
.topmenu{
	display:flex;
	width:100%;
	margin:0 auto;
}
.topmenu a{
	flex:1;
	font-size:16px;
	display:block;
	padding:10px 0;
	text-align:center;
	background:gold;
	color:white;
	text-decoration:none;
	text-shadow:1px 1px 2px black; 
	border-right:1px red solid;
}
.topmenu a:hover{
	background:red;
	color:white;
}
.foot{
	text-align:center;
	background:grey;
	padding:40px;
	color:black;
	margin-top:40px;
}
.foot a{
	color:white;
}
.maintext {
	background:#fff;
	padding:10px;
	margin:2px;
	border:1px grey solid;
	border-radius:6px;
	box-shadow:1px 1px 1px black;
}
.mainblock{
	margin:40;
}
.menu {
	margin-top:10px;
}
@media screen and (max-width: 768px){
	.head img{
		display:none;
	}
	.shapka{
		height:100px;
	}
	.topmenu{
		flex-direction:column;
	}
}
.modal-window{
	position:fixed;
	top:150px;
	width:600px;
	margin-left:-300px;
	background:white;
	padding:20px;
	border:solid 1px gold;
	box-shadow:1px 1px 1px black;
	border-radius:6px;
	z-index:9;
	left:50%;
}
#jquery-overlay{
	background:black;
	opacity:0.5;
	position:fixed;
	height:100%;
	width:100%;
	top:0;
	left:0;
	z-index:8;
}
.modal-close-btn{
	position:absolute;
	top:1px;
	right:1px;
	margin:0;
	padding:0;
	text-decoration:none;
	color:red;

}
.modal-close-btn:before{
		position:relative;
		top:-1px;
		content:"Закрыть";
		font-size:12px;
}












